* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    background-color: white;

}

nav {

    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: auto;
    padding: 20px 80px;
    background: White;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;

}

.logo-text h3 {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.logo-text p {
    font-size: 15px;
    color: black;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 5px;
}

ul li a {
    text-decoration: none;
    color: rgb(82, 81, 81);
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;

}

ul li a:hover {
    color: #2563EB;
}

.register-btn {
    text-decoration: none;
    color: white;
    background-color: #2563EB;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

.register-btn:hover {
    background-color: white;
    color: #2563EB;
}

.hero {
    height: 90vh;
    width: 100%;


    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-content {
    text-align: center;
    width: 100%;
    text-align: center;
}

.hero-text {

    margin-bottom: 180px;
}

.hero-text h1 {
    font-size: 65px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.hero-text em {
    font-style: italic;

}

.hero-text p {
    width: 700px;
    font-size: 18px;
    color: #fff;
    margin: auto;
    font-weight: 400;
    line-height: 30px;
}

.speakers {
    max-width: 1200px;
    margin: 100px auto;
}

.speakers h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
    color: #111827;
}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.speaker-card {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

.speaker-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.speaker-card-content {
    padding: 20px;
}

.speaker-card-content h5 {
    font-size: 12px;
    margin-bottom: 10px;
    color: #2563eb;
}

.speaker-card-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #111827;
    font-weight: bold;
}

.speaker-card-content p {
    font-size: 14px;
    color: #6b7280;

}

.pricing {
    max-width: 1200px;
    margin: 100px auto;
}

.pricing h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
    color: #111827;
    font-weight: 800px;
}

.pricing>p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
    color: gray;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pricing-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    text-align: left;
    padding: 20px;
}

.pro {
    background: #0f172a;
    color: white;
}




.pro p {
    color: #d1d5db;
}


.pricing-card h5 {
    font-size: 14px;
    margin-bottom: 10px;
    color: gray;
}

.pro h5 {
    color: #2563eb;
}

.pricing-card h1 {
    font-size: 48px;
    margin: 10px 0;
    color: #111827;
    font-weight: bold;
}

.pro h1 {
    color: white;
}

.pricing-card p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.pricing-card ul {
    display: block;
    list-style: disc;
    margin: 20px 0;
    padding-left: 20px;
}

.pricing-card li {

    font-size: 14px;
    color: rgb(99, 96, 96);
    margin-bottom: 10px;
}

.pricing-card li::marker {
    color: #2563eb;
}


.price-btn1 {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #2563eb;
    border: 1px solid #2563eb;
    border-radius: 8px;
}

.price-btn1:hover {
    background-color: #2563eb;
    color: white;
}

.price-btn2 {
    width: 100%;
    padding: 12px;
    background-color: #2563eb;
    color: white;
    border: 1px solid #2563eb;
    border-radius: 8px;
}

.price-btn2:hover {
    background-color: white;
    color: #2563eb;
}

.startup {
    max-width: 1200px;
    margin: 100px auto;
    text-align: center;
}

.startup h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.startup>p {
    color: #6b7280;
    margin-bottom: 50px;
    font-size: 18px;
}

.startup-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.startup-card {

    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;

}

.startup-card:hover {

    transform: translateY(-8px);

}

.startup-card img {

    width: 100%;
    height: 220px;
    object-fit: cover;

}

.startup-card h3 {

    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
    font-weight: bold;

}

.startup-card p {

    padding: 0 20px;
    color: #6b7280;
    line-height: 28px;
    margin-bottom: 25px;

}

.startup-btn {

    margin-bottom: 25px;
    padding: 12px 25px;
    background: #2563EB;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.startup-btn:hover {

    background: white;
    color: #2563EB;

}